<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">О компании</h2>
                    <h3 class="section-subheading text-muted">Доступные цены. Быстрый подбор. Оперативная доставка.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="subheading">> 1 000 000 запчастей</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">На сайте paiho.ru вы можете купить запчасти от 500 производителей. Оригинал и аналоги по качеству сравнимые с оригинальными запчастями. И все это по доступным ценам и быстрой доставкой!</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading"> 
                                    <h4 class="subheading">Быстрая работа</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Мы работаем усердно, чтобы помочь каждому из наших клиентов сэкономить деньги и время.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="subheading">Наши партнеры</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Мы работаем с крупными дистрибьюторам и производителями запчастей для грузовых и легковых автомобилей иностранного производства., что позволяет следить за качеством и предлагать доступные цены.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="subheading">Качественные детали</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Мы постоянно работаем над поиском лучших предложения на автозапчасти и тщательно отбираем их, чтобы Вы могли быть уверены, что получаете высококачественную деталь, по доступной цене. Мы предлагаем детали, которые бы купили сами.</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>